<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/navigation') %>

    <main class="vh-70 container pt-8 text-center d-flex justify-content-center aling-items-center">
        <section>
            <h1 class="display-3">GROOMING</h1>
            <p>  "Brindar atención veterinaria de alta calidad y compassionada a mascotas y animales de todas las especies, promoviendo su salud y bienestar mediante diagnósticos precisos, tratamientos efectivos y educación continua para los dueños. Nos comprometemos a ofrecer un entorno seguro y cariñoso para nuestros pacientes y un servicio excepcional a nuestra comunidad." </p>
        </section>
    </main>
</body>

</html>