<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/navigation') %>

    <main class="vh-70 container pt-8 text-center d-flex justify-content-center aling-items-center">
        <section>
            <H1>SERVICIOS DE NUESTRA VETERINARIA</H1>
            
            <li class="nav-item">
                <a href="/peluqueria" class="w-20" style="color:black;   font-size: 25px;">GROOMING</a>
                
            </li>
              <li class="nav-item">
                <a href="/hospitalizacion" class="w-20" style="color:black;   font-size: 25px;">HOSPITALIZACION</a>
              </li>
              <li class="nav-item">
                <a href="/medicamentos" class=" w-20" style=" color:black;   font-size: 25px;">MEDICAMENTOS</a>
              </li>
            

            <img src="/img/vete.jpg" alt="" class="w-28 display-3">

            
        </section>
        
    </main>
</body>

</html>